@media (max-width:600px) {


    body {
        background-image: linear-gradient(125deg, #464546, #282828);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar-section,
    #home-section,
    #about-section,
    #skills-section,
    #projects-section,
    #contact-section {
        display: none;
    }

    #mob-warning {
        text-align: center;
        width: 85%;
        display: inline;
        transition: all ease 1s;
    }

    #mob-warning h1 {
        font-size: 24px;
    }

    span {
        color: #ffbf00;
    }

    #contact-section {
        width: 100%;
    }

    #contact-section form {
        width: 70%;
    }
}